<!DOCTYPE html>
<html>

   <head>
      <title>Image Search Microservice, By Dom.Farnham()</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@jscodebook">
      <meta name="twitter:creator" content="@jscodebook">
      <meta name="twitter:title" content="An Image Search Microservice By dom.farnham('@JSCodebook')">
      <meta name="twitter:description" content="A microservice which takes your search string, searches the web for images related to the string and then returns JSON containing the image's URLs, Alt text and the URL of the website hosting the image.">
      <meta name="twitter:image" content="https://cdn.glitch.com/31fe8e61-fcf5-4c24-9bf0-e0b84f91f602%2Fimage-search-microservice.png?1503089140237">
   </head>

   <body>
      <div class="container">
        <h1>An Image Search Microservice By dom.farnham('<a href="https://twitter.com/JSCodebook">@JSCodebook</a>')</h1>
        <p>
          A microservice which takes your search string, searches the web for images related to the string and  <br> 
          then returns JSON containing the image's URLs, Alt text and the URL of the website hosting the image.
        </p>
        <h4>
          Example usage:
        </h4>
        <p>
          Search for images. Use offset parameter for pagination (optional).<br>
          <a href="https://image-search-microservice.glitch.me/api/search/funny%20cats?offset=2">https://image-search-microservice.glitch.me/api/search/funny%20cats?offset=2</a>
        </p>
        <p>
          View a list of recent searches.<br>
          <a href="https://image-search-microservice.glitch.me/api/recent">https://image-search-microservice.glitch.me/api/recent</a><br>
        </p>
        <h2>
          <a href="mailto:dom@jscodebook.com">Contact me</a> | <a href="https://github.com/domfarnham">My GitHub</a>
        </h2>
      </div>
   </body>

</html>
