<!DOCTYPE html>
<html>

   <head>
      <title>Image Search Microservice, By Dom.Farnham()</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>An Image Search Microservice By dom.farnham(<a href="https://twitter.com/JSCodebook">@JSCodebook</a>)</h1>
        <p>
          A microservice which takes your search string, searches the web for images related to the string and  <br> 
          then returns JSON containing the image's URLs, Alt text and the URL of the website hosting the image.
        </p>
        <h4>
          Example usage:
        </h4>
        <p>
          Search for images. Use offset parameter for pagination (optional).<br>
          <a href="https://image-search-microservice.glitch.me/api/search/funny%20cats?offset=2">https://image-search-microservice.glitch.me/api/search/funny%20cats?offset=2</a>
        </p>
        <p>
          View a list of recent searches.<br>
          <a href="https://image-search-microservice.glitch.me/api/recent">https://image-search-microservice.glitch.me/api/recent</a><br>
        </p>
        <h2>
          I am available for hire, <a href="mailto:dom@javascriptcodebook.com">contact me</a>.
        </h2>
        <h2>
          <a href="https://github.com/domfarnham">My GitHub</a>
        </h2>
      </div>
   </body>

</html>
